.projectPageContainer {
  width: 100vw;
  height: 150vh;
  position: absolute;
  top: 0;
  left: 0;
  // margin-top: -12%;
  .cursor {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 10;
    top: 0%;
    background: transparent;
    background: #00000000;
    border-radius: 100%;
    pointer-events: none;
    transition: 0.2s linear;
    // backdrop-filter: hue-rotate(120deg);
    opacity: 1;
    backdrop-filter: invert(0%);
    // border: 1px solid $text-color;
    &::after {
      content: "";
      position: absolute;
      pointer-events: none;
      width: 5px;
      height: 5px;
      background: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      opacity: 1;
      animation: rotation 5s linear infinite;
    }
    @keyframes rotation {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }

  //   img {
  //     transform: scale(1.03) translateX(60px);
  //     transition: ease-in-out;
  //     &:first-child {
  //       transform: scale(1.03) translateX(0px);
  //     }
  //   }
  div {
    overflow: hidden;
    border-radius: 1px;
  }
  .name {
    width: 100%;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 7%;
    @media (max-width: 500px) {
      margin-top: 40%;
      margin-bottom: 15%;
    }
    // h2 {
    //   font-family: "Times New Roman", Cambria, Cochin, Georgia, Times, serif;
    //   font-weight: normal;
    //   line-height: 85%;
    // }
    span {
      display: inline-block;
      position: relative;
      font-size: 10vw;
      margin-right: 2%;
      animation: span_apparition 1.7s;
      animation-fill-mode: backwards;
      @media (max-width: 500px) {
        font-size: 15vw;
      }

      @keyframes span_apparition {
        0% {
          transform: translateY(100%);
          // transform: rotateX(180deg) translateY(100%);
        }
        30% {
          transform: rotateX(180deg) translateY(100%);
        }
        100% {
          transform: translateY(0%);
        }
      }
    }
    span:last-child {
      margin-right: 0%;
    }
    @for $i from 1 through 14 {
      .span-#{$i} {
        // transform: translateY(50% * ($i/4));
        animation-delay: 100ms + 120ms * $i;
      }
    }
    &.long {
      span {
        @media (max-width: 500px) {
          font-size: 9vw;
        }
      }
    }
  }

  .image_container {
    margin: auto;
    width: 80%;
    background: #000;
    position: relative;
    @media (max-width: 500px) {
      width: 100%;
    }

    &:after {
      position: absolute;
      content: "";
      width: 0%;
      height: 100%;
      background: $bg_color;
      top: 0;
      right: 0;
      animation: imageContainer 1.4s;
      animation-delay: 0.2s;
      transition: 1s ease-in-out;
      animation-fill-mode: backwards;
      animation-delay: 0.8s;
      @keyframes imageContainer {
        0% {
          width: 100%;
        }
        100% {
          width: 0%;
        }
      }
    }
    img {
      width: 100%;
      transform: scale(1.01);
      animation: imageScale 1.7s;
      animation-fill-mode: backwards;
      animation-delay: 0.4s;
      @keyframes imageScale {
        0% {
          transform: scale(1.35);
        }
        100% {
          transform: scale(1.01);
        }
      }
    }
  }
  .description {
    padding-top: 4%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 2vw;
    line-height: 140%;
    letter-spacing: 1px;
    text-align: center;
    @media (max-width: 500px) {
      font-size: 1.3em;
      padding-left: 10%;
      padding-right: 10%;
    }
    i {
      font-size: 1em;
      padding: 2%;
      margin-top: 10%;
    }
    a {
      display: block;
      font-style: italic;
      margin-left: 70%;

      @media (max-width: 500px) {
        margin-left: 50%;
      }
      span {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 20%;
          background-color: $second_color;
          left: 0;
          transition: 0.8s;
          bottom: 10%;
        }
      }
      &.visit_site {
        margin-left: 2%;
        position: absolute;
        span:after {
          background-color: $third_color;
        }
      }
    }
    a:hover {
      span:after {
        width: 0%;
      }
    }
  }
  .image_page {
    margin-top: 17%;
    width: 50%;
    @media (max-width: 500px) {
      width: 80%;
    }
    img {
      width: 100%;
      transform: scale(1);
      transition: 0.5s !important;
    }
    &:hover {
      img {
        transform: scale(1.1) !important;
        transition: 0.5s ease !important;
      }
    }
  }
  .page1,
  .page3,
  .page5 {
    margin-left: 10%;
    @media (max-width: 500px) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .page2,
  .page4,
  .page6 {
    margin-left: 40%;
    @media (max-width: 500px) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .image1 {
    width: 60%;
    @media (max-width: 500px) {
      width: 80%;
    }
  }
  .image2 {
    width: 60%;
    margin-left: 30%;
    @media (max-width: 500px) {
      width: 80%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    div {
      width: 20%;
      border-radius: 15px;
    }
  }

  // page portfolio
  // .image_container.pagePortF {
  //   // box-shadow: 0px 0px 5px 1px #ffffff62;
  //   // background-image: url("photos/portfolio_home.jpg");

  //   // background-color: rgba(43, 20, 20, 0.616);
  //   // background-blend-mode: screen;
  //   // background-size: cover;
  // }
  .pagePortoflio {
    filter: contrast(105%);
  }
}

.homeLink {
  cursor: pointer;
  position: fixed;
  top: 4%;
  // right: 2%;
  left: 4%;
  font-size: 1.5em;
  letter-spacing: 4px;
  font-family: $font-title;
  background: transparent;
  transition: 0.3s;
  opacity: 0.8;
  color: rgb(158, 0, 0);
  font-weight: bold;
  z-index: 5;
  width: 4vw;
  min-width: 50px;
  animation: f_logo 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  @keyframes f_logo {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 0.8;
      transform: translateX(0%);
    }
  }
  img {
    width: 100%;
  }
  &:hover {
    opacity: 1;
  }
}
