$bg_color: #010101;
$primary_color: white;
$primary_color_light: rgba(255, 255, 255, 0.6);

$bg_color: #161515;
$text-color: #d1cdcc;
$font-title: "Crimson Text";
$second_color: rgba(255, 0, 0, 0.336);
$third_color: #0dffdb50;
